<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
		<%- include('nav.html') %>
		<div>
			<h2 class="text-center">To do List</h2>
			<div class="container">
				<ul class="list-group">
					<% for (var i=0; i<posts.length; i++){ %>
						<li class="list-group-item">
							<div>
								<p>글 번호 : <%= posts[i]._id %></p>
								<h5>할 일 : <%= posts[i].title %></h5>
								<p>날짜 : <%= posts[i].date %></p>
								<button class="btn btn-danger delete" data-id="<%= posts[i]._id %>" type="button" style="float: right;">삭제</button>
							</div>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$('.delete').click(function(e){
				var postNumber = e.target.dataset.id;
				var clicked = $(this);
				$.ajax({
					method : 'DELETE',
					url : '/delete',
					data : { _id : postNumber }
				}).done(function(result){
					console.log('성공');
					clicked.parent('li').fadeOut();
				}).fail(function(xhr, testStatus, errorThrown){
					console.log(xhr, testStatus, errorThrown);
				});
			});
		</script>
  </body>
</html>


